---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"
---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
      src="/img/pic.JPG"
			alt="Foto de perfil de Jhon Doe"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mí" />
			<p class="about__text">
        Desarrollador de aplicaciones Web y Móviles con más de 8 años desplegando aplicaciones 🚀.
        En mis tiempos libres hago música y proyectos open-source.
		</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
